<div id="reader" class="row">
  <div class="container py-5">
    <div class="text-center">
      <div class="row">
        <header class="mb-4 ">
          <h3 class="fw-bolder mb-1 pt-3">{{article.title}}</h3>
          <div class="text-muted fst-italic mb-2">Posté le {{article.date| date:'dd/MM/yyyy'}}</div>
        </header>
        <figure class="mb-4 col-lg-6 mx-auto"><img class="img-fluid rounded mx-auto"
            src="../../assets/img/{{article.picture}}" alt="{{article.picture}}" /></figure>
        <div class="row">
          <p class="mb-4 col-lg-6 pb-3 mx-auto">{{article.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
