<nav class="navbar navbar-light bg-dark fixed-bottom">
    <div class="container-fluid text-center mb-2 mt-2 col-lg-6 ps-4">
      <a class="navbar-brand">
        <fa-icon [routerLink]="'/'" [icon]="faHome"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon [routerLink]="'/main'" [icon]="faListUl"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon (click)="changeTheme('sun')"  *ngIf="activeSelector == 'moon'" [icon]="faMoon"></fa-icon>
        <fa-icon (click)="changeTheme('moon')" *ngIf="activeSelector == 'sun'" [icon]="faSun"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon [routerLink]="['/dev']" routerLinkActive="router-link-active"  [icon]="faCode"></fa-icon>
      </a>
    </div>
  </nav>

