<nav class="navbar navbar-light bg-dark fixed-bottom">
    <div class="container-fluid text-center col-lg-6">
      <a class="navbar-brand">
        <fa-icon [routerLink]="'/'" [icon]="faHome"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon [icon]="faListUl"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon [icon]="faBookmark"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon [icon]="faSun"></fa-icon>
      </a>
      <a class="navbar-brand">
        <fa-icon [icon]="faCode"></fa-icon>
      </a>
    </div>
  </nav>

