<div class="container mt-3 ">
  <div class="form-container mt-5">
    <h3>Gestion des articles</h3>
    <p class="sousTitres mb-5">Espace pour consulter, modifier ou supprimer les éléments du tableau "articles".<br>
    </p>
    <div class="col-12 card p-5">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Resumé</th>
            <th scope="col">Voir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let getArticle of articles">
            <td>{{getArticle.title}}</td>
            <td>{{getArticle.resume}}</td>
            <td>
              <fa-icon [routerLink]="['/detail', getArticle.id]" [icon]="faEye"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button routerLink="/dev" class="btn btn-danger mt-4">Retour</button>
      </div>
    </div>
  </div>
</div>