<div class="container">
  <div *ngIf="articles!.length > 0 " class="row d-flex justify-content-center mt-5">
    <div *ngFor="let getArticle of articles" class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12 ms-3 me-3 mb-5">
      <div class="col">
        <div class="card cardMoon h-100">
          <img [routerLink]="['/reader', getArticle.id]" src="../../assets/img/{{getArticle.picture}}" class="figure-img img-fluid rounded picture" alt="">
          <div class="card-body">
            <h5 class="card-title">{{getArticle.title}}</h5>
            <p class="card-text"><small>Posté le {{getArticle.date| date:'dd/MM/yyyy'}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="articles!.length === 0 " class="row d-flex justify-content-center mb-5 mt-5">
    <h5>Appel Sheron pour ramener les articles !</h5>
    <h5>Appui sur F5</h5>
 </div>
</div>
