
<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Miniature</th>
        <th scope="col">Titre</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>         
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> <img src="../../assets/img/{{article.picture}}" alt="{{article.picture}}"></th>
        <td>{{article.title}}</td>
        <td><fa-icon [routerLink]="['/detail', article.id]" [icon]="faPen"></fa-icon></td>   
        <td><fa-icon (click)="deleteArticle(article.id)" [icon]="faTrash"></fa-icon></td>    
      </tr>
    </tbody>
  </table>
  <button routerLink="/dev" class="btn btn-danger ">Retour</button>  

  

