<div class="contaier">
  <h3 class="my-5">Les derniers articles</h3>
<div class="row">
  <div *ngFor="let getArticle of articles" class="col-lg-3 col-sm-3 card mx-3 mb-5">
     <a class="portfolio-link" data-bs-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
      </div>
      <img [routerLink]="['/reader', getArticle.id]" src="../../assets/img/{{getArticle.picture}}" class="img-fluid rounded picture" alt="">
      </a>
      <div class="portfolio-caption">
        <div class="portfolio-caption-heading">{{getArticle.title}}</div>
        <div class="portfolio-caption-subheading text-muted px-1">{{getArticle.resume}}</div>
        <button  [routerLink]="['/reader', getArticle.id]" class="btn btn-primary btn mt-3 mb-3">Lire
          l'article</button>
      </div>
  </div>
</div>
</div>