<section class="page-section bg-light"   id="articles">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="card border-warning">
        <h3 class="section-heading text-uppercase pt-1 pb-3">Bienvenue !</h3>
        
        <p class="section-subheading text-muted">Voci un exemple d'application de lecture d'articles, pensée "mobile-first", la navigation est placé sur le bas de l'écran pour
          un accès plus ergonomique à l'utilisateur. L'incrémentation d'articles est automatique dans les différents composants une fois ceux-ci créés.   
        </p>   
        <p class="section-subheading text-muted">Retrouvez les infos dans la partie technique en bas à droite.   
        </p>       
        <img class="col-lg-2 mx-auto" src="../../assets/img/goku.gif" alt="goku gif">
      </div>
    </div>
      
      <div class="row">
        <app-last-articles></app-last-articles>
      </div>
    </div>
  </div>
</section>


<!--[ngClass]="{'swap-theme' : cssSelector == 'moon'}"-->